@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul li {
  padding: 0 10px;
  cursor: pointer;
}
ul > li > a {
  font-size: 16px;
  color: #444;
  font-weight: 500;
}
a {
  text-decoration: none;
}
.img{
  width: 420px;
  height: 230px;
}
.img img{
  width: 100%;
  height: 100%;
  border-radius: 8px;
  transition: all .4s;
}
.logo {
  width: 200px;
}
.logo img {
  width: 100%;
}

.upper_news .img {
  /* position: relative; */
  width: 600px;
  height: 340px;
  padding-bottom: 30px;
  border-bottom: 1px solid #999;
}
/* .home_page .img::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #222;
} */
.img:hover img {
  scale: 98%;
}
.upper_news .img img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: 0.4s;
}
.news_title {
  font-size: 24px;
  color: #222;
  font-weight: 700;
  margin: 20px 0;
}
p {
  font-size: 15px;
  color: #444;
  font-weight: 400;
}
.card {
  padding: 20px;
  margin-top: 20px;
  border: none;
}
.card h3 {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}
.card .img {
  width: 268px;
  height: 145px;
}
.card .img img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  transition: 0.4s;
}
.card p {
  margin-top: 20px;
}
.header_title {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #999;
  padding-bottom: 20px;
}
.header_title h2 {
  font-size: 42px;
  color: #e36e4b;
  font-weight: 800;
  margin-top: 30px !important;
  margin-bottom: 0 !important;
}

.sports_col {
  border-bottom: 1px solid #999;
  margin-top: 10px;
}
